<div class="con">
  <div class="header">
    <h5>Edit {{ countryDetailForm?.value?.country }}</h5>
  </div>
  <form class="detail-form" [formGroup]="countryDetailForm">
    <div class="flex-con">
      <div class="flex-item">
        <label class="label modal-label">Cases</label>
        <input type="number" class="form-control" formControlName="cases" />
        <div
          class="form-error-con"
          *ngIf="
            isFormSubmitted &&
            countryDetailForm?.controls?.cases?.errors?.required &&
            (countryDetailForm ||
              countryDetailForm?.dirty ||
              countryDetailForm?.touched)
          "
        >
          <span class="err-msg">{{ mandatoryErrMsg }}</span>
        </div>
      </div>
      <div class="flex-item">
        <label class="label modal-label">Deaths</label>
        <input type="number" class="form-control" formControlName="deaths" />
        <div
          class="form-error-con"
          *ngIf="
            isFormSubmitted &&
            countryDetailForm?.controls?.deaths?.errors?.required &&
            (countryDetailForm ||
              countryDetailForm?.dirty ||
              countryDetailForm?.touched)
          "
        >
          <span class="err-msg">{{ mandatoryErrMsg }}</span>
        </div>
      </div>
    </div>
    <div class="flex-con">
      <div class="flex-item">
        <label class="label">Recovered</label>
        <input type="number" class="form-control" formControlName="recovered" />
        <div
          class="form-error-con"
          *ngIf="
            isFormSubmitted &&
            countryDetailForm?.controls?.recovered?.errors?.required &&
            (countryDetailForm ||
              countryDetailForm?.dirty ||
              countryDetailForm?.touched)
          "
        >
          <span class="err-msg">{{ mandatoryErrMsg }}</span>
        </div>
      </div>
      <div class="flex-item">
        <label class="label modal-label">Tests</label>
        <input type="number" class="form-control" formControlName="tests" />
        <div
          class="form-error-con"
          *ngIf="
            isFormSubmitted &&
            countryDetailForm?.controls?.tests?.errors?.required &&
            (countryDetailForm ||
              countryDetailForm.dirty ||
              countryDetailForm.touched)
          "
        >
          <span class="err-msg">{{ mandatoryErrMsg }}</span>
        </div>
      </div>
    </div>
  </form>
  <div class="btn-con">
    <button class="btn cancel-btn" title="Cancel" (click)="onCancelForm()">
      Cancel
    </button>
    <button
      class="btn submit-btn"
      title="Update"
      (click)="onUpdateCountryDetails()"
    >
      Update
    </button>
  </div>
</div>
