<div class="login-container bg-light">
    <p-toast position="top-right"></p-toast>
    <div class="circle-corner circle-big"></div>
    <div class="circle-corner circle-small"></div>
    <div class="login-box">
        <div class="row w-100">
            <div class="col-sm-12">
                <div class="d-inline-flex flex-wrap w-100">
                    <div class="heading-container">
                        <span class="heading">{{appName}}</span>
                    </div>
                    <div class="container form-container">
                        <div class="card col-md-12 mt-3">
                            <div class="card-body">
                                <h4 class="card-title text-center">
                                    <i class="far fa-3x fa-user-circle text-muted"></i>
                                </h4>
                                <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
                                    <div class="form-group">
                                        <label class="d-block mb-4">
                                      <input type="text" class="form-control" formControlName="username" autocomplete="username"
                                            [placeholder]="'Username'"/>
                                      <span hidden>Username</span>
                                      <div class="text-danger">
                                            <span [hidden]="loginForm.controls.username.valid || loginForm.controls.username.untouched">
                                              Username is required
                                            </span>
                                      </div>
                                    </label>
                                        <label class="d-block mb-4">
                                      <input type="password" class="form-control" formControlName="password" autocomplete="current-password"
                                            [placeholder]="'Password'" required/>
                                      <span hidden>Password</span>
                                      <div class="text-danger">
                                        <span [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched">
                                          Password is required
                                        </span>
                                      </div>
                                    </label>
                                    </div>
                                    <button class="btn btn-primary w-100 mt-4" type="submit" [disabled]="loginForm.invalid">
                                      <span>Login</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>